body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation bar */
.topnav {
  overflow: hidden;
}

/* Style links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Highlight links on hover */
.topnav a:hover {
  color: black;
}

/* Style specific links */
.topnav a.navtext {
  padding-top: 2.5%;
}

/* Style right-aligned (split) links */
.topnav a.split {
  float: right;
  color: black;
  margin-top: 0.5%;
}

/* Highlight split links on hover */
.topnav a.split:hover {
  color: black;
}

/* Style the search box in the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 3px;
  border: none;
  margin-right: 8px;
  font-size: 15px;
  border: 1px solid black;
  width: 150px;
}

/* Style the blog posts container */
.blog-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Style individual blog posts */
.blog-post {
  margin-bottom: 2.5%;
  text-align: center;
  flex-basis: calc(30% - 2.5%);
  max-height: 300px;
  overflow: hidden;
  line-height: 0.2;
  position: relative;
  text-align: left;
  background-color: #F9F9F9;
}

/* Style images within blog posts */
.blog-post img {
  max-width: 100%;
  height: 500px;
  height: auto;
}

/* Highlight blog posts on hover */
.blog-post:hover {
  filter: opacity(0.9);
}

/* Style headings within blog posts */
.blog-post h6 {
  font-size: 1.5vw;
}

/* Style floating tags */
#floatingTags {
  position: absolute;
  color: white;
  background-color: rgb(255, 87, 51);
  border-radius: 5px;
  border: solid 1px black;
  right: 5%;
  top: 30%;
  height: 2.5%;
  padding: 2%;
  font-size: 10px;
  font-size: .75vw;
}

/* Style tab links */
.tablink {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ddd;
    transition: background-color 0.3s;
}

/* Style active tab links */
.tablink.active {
    background-color: #fff;
    border-bottom: none;
}

/* Style custom tabs */
.custom-tab {
    background-color: #f8f9fa;
    border: 1px solid gray;
    color: #6c757d;
    box-shadow: 0 1px 0 0 #fff;
}

/* Style active custom tabs */
.custom-tab.active {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 5px 0 0 #fff;
}

/* Style focus state for custom tabs */
.custom-tab:focus {
    outline: none;
    box-shadow: 0 5px 0 0 #fff;
}

/* Style content divs */
#followingContent,
#foryouContent {
    border: 1px solid gray;
    padding: 2.5%;
  border-right-style: none;
  border-left-style: none;
}

/* Style paragraphs */
p {
 float: left;   
 font-size: 1.25vw;
}

/* Style for the like button */
.like-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: black; /* Default color */
}

/* Default button and heart icon styles */
.like-button {
    position: relative;
    cursor: pointer;
        position: absolute;
    top: 8%;
    right:0;
}

.like-button i.fa-heart {
    color: black; /* Default color */
    transition: color 0.3s; /* Smooth transition effect */
        position: absolute;
    top: 8%;
    right:0;
}

/* Liked button and heart icon styles */
.like-button.liked i.fa-heart {
    color: rgb(90, 75, 202);
}

/* Remove default outline on focus */
.like-button:focus {
    outline: none;
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav a.split,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
